/* ------------------------------------------------------
	CSS Reset developed for Juxt Interactive
	by Eric Lim
	
	Based in part on Eric Meyer's CSS Reset and
	Thierry Koblentz's Base CSS
	
	Last updated: 2011.04.25
-------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	height: 100%;
}

body {
	font-family: 'ProximaNovaRegular', 'Lucida Grande', Verdana, Sans-Serif;
	font-size: 14px;
	line-height: 25px;
	color: #000;
	background: #000;
}

/* Form elements don't inherit font styles by default */
input, select, textarea {
	font-family: inherit;
	font-size: 1em;	/*font-size: 1em; Works for IE6*/
	font-weight: inherit;
}

a { text-decoration: none; color: #000; }
a:link { outline: none; }	/* SET */
a:visited {  }	/* SET */
a:hover { text-decoration: none; color: #848484; }	/* SET */
a:active {  }	/* SET */

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

/* Remember to remove the margin when using ul for navigation or other semantic uses */
ul, ol {
	margin-left: 1.5em;
}

blockquote {
	margin-left: 1em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

img {
	vertical-align: bottom;
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Remove outline on flash objects */
object { outline: none; }

/* Courtesy of Mzajac of Wikipedia: http://en.wikipedia.org/wiki/User:Mzajac/monobook.css/Superscript_fix */
sup, sub {
	vertical-align: baseline;
	position: relative;
}
sup { bottom: 0.33em; }
sub { bottom: -0.25em; }

label { cursor: pointer; }

/* this is to fix IE 6 and 7 which create extra right/left padding on buttons
 * IMPORTANT: because IE 6 does not understand the first selector below, you need to apply the class "inputButton" to all input of type="button" in your documents
 * the first declaration is for IE 6 and 7, the second one for IE 6 only, the third one is for all browsers.
 */
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.inputButton {
  *overflow: visible;
  _width: 0;
  padding: .2em .4em;
}

/* CLEAR FIX*/
.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden; 
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}