<div class="row">
	<h2>Daily Life</h2>
	<ul class="controls">
		<li class="left"><a href="#">Left</a></li>
		<li class="right"><a href="#">Right</a></li>
	</ul>
		
	<% @most_recent_contents = Content.order('created_at desc').limit(10)%>

	<ul class="slider">
	<% @most_recent_contents.each do |mrcontent|%>
		<li class="item blog">
			<%= link_to image_tag(mrcontent.photo(:small), :height => '135', :width => '200') %>
		</li>
	<% end %>
		<li class="item more"><a href="/blog">More</a></li>
	</ul>
</div>