
	<!-- Begin main -->
		<div id="main" class="clearfix">
			<!-- Begin wrap_primary -->
			<div id="wrap_primary">
				<div id="primary_content" class="clearfix">
	
					<%= render 'shared/most_recent'%>
					<%= render 'shared/hot_place'%>
					<%= render 'shared/sympathy'%>
					<%= render 'shared/daily_life'%>

															
				</div>
			</div>
			<!-- End wrap_primary -->

		</div>
		<!-- End main -->
		
	</div>

